/* Se agregan estas clases a .TicketType según el tipo de asiento */
/*
<span id="rptAreaCategory__ctl2_rptTicketList__ctl1_lblDescription0" class="TicketType asientoTumbona">ADULTO TUMBONA</span>
*/
/*
<span id="rptAreaCategory__ctl2_rptTicketList__ctl1_lblDescription0" class="TicketType asientoPuff">ADULTO TUMBONA</span>
*/
/*
<span id="rptAreaCategory__ctl2_rptTicketList__ctl1_lblDescription0" class="TicketType cojines">ADULTO TUMBONA</span>
*/
/*Asiento PUFF*/
.TicketType.asientoPuff {
	position: relative;
}
.TicketType.asientoPuff::before {
	background: url("http://inetvis.cineticket.com.mx/compra/images/puffdoble.png") no-repeat;
	background-size: 100% auto;
	bottom: -54px;
	content: "";
	height: 130px;
	left: -140px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	width: 120px;
	z-index: 20;
}
.TicketType.asientoPuff::after {
	background-color:red  ;
	content: "";
	height: 2px;
	left: -80px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	top: 50%;
	width: 15%;
	z-index: 10;
}
.TicketType.asientoPuff:hover::before {
	opacity: 1;
}
.TicketType.asientoPuff:hover::after {
	-webkit-animation-delay: .13s;
	-o-animation-delay: .13s;
	animation-delay: .13s;
	opacity: 1;
	left: -54px;
}

/*Asiento PUFF*/
.TicketType.asientoCojin {
	position: relative;
}
.TicketType.asientoCojin::before {
	background: url("http://inetvis.cineticket.com.mx/compra/images/cojindoble.png") no-repeat;
	background-size: 100% auto;
	bottom: -54px;
	content: "";
	height: 130px;
	left: -140px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	width: 120px;
	z-index: 20;
}
.TicketType.asientoCojin::after {
	background-color:red  ;
	content: "";
	height: 2px;
	left: -80px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	top: 50%;
	width: 15%;
	z-index: 10;
}
.TicketType.asientoCojin:hover::before {
	opacity: 1;
}
.TicketType.asientoCojin:hover::after {
	-webkit-animation-delay: .13s;
	-o-animation-delay: .13s;
	animation-delay: .13s;
	opacity: 1;
	left: -54px;
}







/*Asientos TUMBONA*/
.TicketType.asientoTumbona {
	position: relative;
}
.TicketType.asientoTumbona::before {
	background: url("http://inetvis.cineticket.com.mx/compra/images/camastro.png") no-repeat;
	background-size: 100% auto;
	bottom: -54px;
	content: "";
	height: 120px;
	left: -140px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	width: 120px;
	z-index: 20;
}
.TicketType.asientoTumbona::after {
	background-color: #F8931E;
	content: "";
	height: 2px;
	left: -80px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	top: 50%;
	width: 30%;
	z-index: 10;
}
.TicketType.asientoTumbona:hover::before {
	opacity: 1;
}
.TicketType.asientoTumbona:hover::after {
	-webkit-animation-delay: .13s;
	-o-animation-delay: .13s;
	animation-delay: .13s;
	opacity: 1;
	left: -68px;
}
/*Asientos Cojines*/
.TicketType.asientoCojines {
	position: relative;
}
.TicketType.asientoCojines::before {
	background: url("http://cinepolis.com/sala-junior/asientos-divertidos/imagenes/butacas-verde.png") no-repeat;
	background-size: 100% auto;
	bottom: -54px;
	content: "";
	height: 120px;
	left: -140px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	width: 120px;
	z-index: 20;
}
.TicketType.asientoCojines::after {
	background-color: #EE1B23;
	content: "";
	height: 2px;
	left: -80px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	top: 50%;
	width: 50%;
	z-index: 10;
}
.TicketType.asientoCojines:hover::before {
	opacity: 1;
}
.TicketType.asientoCojines:hover::after {
	-webkit-animation-delay: .13s;
	-o-animation-delay: .13s;
	animation-delay: .13s;
	opacity: 1;
	left: -68px;
}


/*Asientos Tradicional*/
.TicketType.Tradicional {
	position: relative;
}
.TicketType.Tradicional::before {
	background: url("http://inetvis.cineticket.com.mx/compra/images/butaca.png") no-repeat;
	background-size: 100% auto;
	bottom: -54px;
	content: "";
	height: 120px;
	left: -140px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	width: 120px;
	z-index: 20;
}
.TicketType.Tradicional::after {
	background-color:  #CDDC29;
	content: "";
	height: 2px;
	left: -80px;
	margin-top: -3px;
	opacity: 0;
	position: absolute;
	-webkit-transition: .30s linear;
	-moz-transition: .30s linear;
	transition: .30s linear;
	top: 50%;
	width: 35%;
	z-index: 10;
}
.TicketType.Tradicional:hover::before {
	opacity: 1;
}
.TicketType.Tradicional:hover::after {
	-webkit-animation-delay: .13s;
	-o-animation-delay: .13s;
	animation-delay: .13s;
	opacity: 1;
	left: -68px;
}