.busquedaCartelera .filtrosBusqueda .cont
{
	overflow-x:hidden;position:relative
}
.busquedaCartelera .filtrosBusqueda .overlay-filtros
{
	background-color:rgba(0,0,0,0.15);display:block;height:100%;position:absolute;top:0;width:100%;z-index:9;
}
.busquedaCartelera .filtrosBusqueda .overlay-filtros .bgpreload_Blanco
{
	background-color:rgba(255,255,255,0.95) !important;border-top:1px solid rgba(0,0,0,0.35);border-bottom:1px solid rgba(0,0,0,0.35);margin:0 !important;position:absolute !important;text-align:center;top:0;width:100% !important
}
.headlineRegistro
{
	background:#0b5ba1;height:42px;
}
.headlineRegistro > div
{
	color:#fff;line-height:42px;position:relative;
}
.headlineRegistro > div .cerrarId
{
	position:absolute;right:0;top:2px;overflow:hidden;
}
.headlineRegistro > div .cerrarId span
{
	float:left;margin-right:5px;line-height:35px
}
.headlineRegistro > div .cerrarId i
{
	font-size:24px
}
#opcionesComplejo .chosen-container
{
	width:100% !important
}
.infoComplejo
{
	position:fixed;width:100%;top:122px;z-index:9999;
}
.infoComplejo article
{
	background:#f5f5f5;color:#4e4e4e;display:none;height:600px;position:relative;overflow:auto;width:100%;z-index:99;
}
.infoComplejo article header
{
	width:100%;padding:10px 0;background:none;position:relative;z-index:1;
}
.infoComplejo article header h2
{
	color:#222;float:left;width:75%
}
.infoComplejo article header .btnCerrarComplejo
{
	float:right;margin:.83em 0;color:#0b5ba1;overflow:hidden;
}
.infoComplejo article header .btnCerrarComplejo span
{
	float:left;margin-right:5px;line-height:24px
}
.infoComplejo article header .btnCerrarComplejo i
{
	font-size:24px
}
.infoComplejo article .map
{
	height:164px;margin-bottom:10px
}
.infoComplejo article .infoGerente figure
{
	margin:0 8px 8px 0;width:60px
}
.infoComplejo article .infoGerente h3
{
	margin:0;margin-bottom:.3em
}
.infoComplejo article .infoGerente ul li
{
	float:left
}
.infoComplejo article .infoGerente ul li + li
{
	margin-left:2%
}
.infoComplejo article .infoGerente a
{
	color:#0b5ba1;display:block
}
.infoComplejo article .infoGerente span
{
	display:block
}
.infoComplejo article .infoGerente i.icon-twitter
{
	color:#55acee;line-height:.75em;vertical-align:-15%
}
.infoComplejo article .infoGerente .txtGerente
{
	margin-top:1em
}
.infoComplejo article .row
{
	margin:15px 0
}
.infoComplejo article .row + .row
{
	border-top:solid 1px #e1e3e6;margin:0;
}
.infoComplejo article .row + .row > div
{
	border-right:solid 1px #e1e3e6;padding:10px 0 20px 0;
}
.infoComplejo article .row + .row > div .lgInformacion
{
	line-height:60px;
}
.infoComplejo article .row + .row > div .lgInformacion img
{
	margin-right:5px
}
.infoComplejo article .row + .row > div .lgInformacion span
{
	background:#0b5ba1;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;text-align:center;color:#fff;font-size:24px;width:60px;height:60px;display:-moz-inline-box;display:inline-block;*display:inline
}
.infoComplejo article .row + .row .noborder
{
	border:none
}
.infoComplejo article address,.infoComplejo article .phone
{
	font-size:.85em;padding-bottom:.5em
}
.infoComplejo article .politicasPrecios
{
	position:relative;width:100%;height:200px;overflow:hidden;
}
.infoComplejo article .politicasPrecios .has-scrollbar .content::-webkit-scrollbar
{
	visibility:visible
}
.infoComplejo article .politicasPrecios .content
{
	width:98%;height:auto;position:relative;
}
.infoComplejo article .politicasPrecios .content:focus
{
	outline:thin dotted
}
.infoComplejo article .politicasPrecios .content::-webkit-scrollbar
{
	visibility:hidden
}
.infoComplejo article .politicasPrecios .content table td
{
	background:none;border:none;padding:5px 0;color:#4e4e4e
}
.infoComplejo article .politicasPrecios .content table td + td
{
	width:56px;text-align:left
}
.infoComplejo article .politicasPrecios > .pane
{
	background:rgba(0,0,0,0.25);position:absolute;width:10px;right:0;top:0;bottom:0;visibility:hidden;-khtml-opacity:.01;-moz-opacity:.01;opacity:.01;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";filter:alpha(opacity=1);-webkit-transition:.2s;-moz-transition:.2s;-ms-transition:.2s;-o-transition:.2s;transition:.2s;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;
}
.infoComplejo article .politicasPrecios > .pane > .slider
{
	background:#444;background:rgba(0,0,0,0.5);position:relative;margin:0 1px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px
}
.infoComplejo article .politicasPrecios:hover > .pane,.infoComplejo article .politicasPrecios .pane.active,.infoComplejo article .politicasPrecios .pane.flashed
{
	visibility:visible;-khtml-opacity:.99;-moz-opacity:.99;opacity:.99;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";filter:alpha(opacity=99)
}
.busquedaCartelera
{
	padding:40px 0 40px 0;
}
.busquedaCartelera .btnAbrirFiltro
{
	background:#f5f5f5;border:solid 1px #e1e3e6;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;position:relative;padding:8px;color:#868788;overflow:hidden;display:none;zoom:0;behavior:url("PIE.htc");
}
.busquedaCartelera .btnAbrirFiltro i
{
	float:right
}
.busquedaCartelera .experiencia h3:before
{
	content:"\e610"
}
.busquedaCartelera .fecha h3:before
{
	content:"\e60c"
}
.busquedaCartelera #ContentPlaceHolder1_filtro_horarios h3:before
{
	content:"\e62e"
}
.busquedaCartelera .groupFiltro:first-child h3:before
{
	content:"\e61e"
}
.busquedaCartelera .groupFiltro
{
	margin-bottom:20px;
}
.busquedaCartelera .groupFiltro h3
{
	border:solid 1px #e1e3e6;padding:8px 5px;font-size:1.1em;margin:0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
}
.busquedaCartelera .groupFiltro h3:before
{
	font-family:'cinepolis-icons';font-weight:normal;font-style:normal;font-size:1.3em;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;margin-right:.05em;line-height:.75em;vertical-align:-15%
}
.busquedaCartelera .groupFiltro > div
{
	margin-top:2px;padding:8px;background:#f5f5f5;border:solid 1px #e1e3e6;
}
.busquedaCartelera .groupFiltro > div .selectBlanco
{
	position:relative;margin:5px 0;
}
.busquedaCartelera .groupFiltro > div .selectBlanco > a
{
	color:#0b5ba1;font-size:1.2em;top:10px;right:35px;position:absolute
}
.busquedaCartelera .groupFiltro > div h4
{
	padding:5px 0;color:#222;font-weight:bold;margin:0
}
.busquedaCartelera .groupFiltro > div label
{
	display:-moz-inline-box;display:inline-block;*display:inline;float:none;width:auto;font-weight:normal
}
.busquedaCartelera .groupFiltro > div p
{
	overflow:hidden;
}
.busquedaCartelera .groupFiltro > div p div.checker
{
	float:left
}
.busquedaCartelera .groupFiltro > div p label
{
	display:block;float:left;text-align:left;max-width:160px;font-weight:normal
}
.busquedaCartelera .groupFiltro > div .opcionLista
{
	margin-left:5px
}
.busquedaCartelera .groupFiltro > div #slider-range,.busquedaCartelera .groupFiltro > div #SlideMax
{
	width:100%
}
.busquedaCartelera .groupFiltro > div #slider-range,.busquedaCartelera .groupFiltro > div .rangoTiempo,.busquedaCartelera .groupFiltro > div #SlideMax,.busquedaCartelera .groupFiltro > div table
{
	margin:0;display:block
}
.busquedaCartelera .groupFiltro > div .txtInstruccion
{
	font-size:12px;font-weight:bold;
}
.busquedaCartelera .groupFiltro > div .txtInstruccion span + span
{
	text-align:right
}
.busquedaCartelera .groupFiltro > div .rangoTiempo
{
	text-align:center;margin-top:15px;font-size:12px;font-weight:bold
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal
{
	height:.6em;
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal .ui-slider-range
{
	top:0;height:100%
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal .ui-slider-handle
{
	top:-.3em;margin-left:-.6em
}
.busquedaCartelera .groupFiltro > div .ui-slider
{
	position:relative;text-align:left;
}
.busquedaCartelera .groupFiltro > div .ui-slider .ui-slider-range
{
	position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0
}
.busquedaCartelera .groupFiltro > div .ui-slider .ui-slider-handle
{
	position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;-webkit-transition:box-shadow .3s;-moz-transition:box-shadow .3s;-ms-transition:box-shadow .3s;-o-transition:box-shadow .3s;transition:box-shadow .3s
}
.busquedaCartelera .groupFiltro > div .ui-widget-content
{
	border:1px solid #e1e3e6;background:#e1e3e6;color:#d9d9d9
}
.busquedaCartelera .groupFiltro > div .ui-widget-header
{
	border:1px solid #0b5ba1;background:#0b5ba1;color:#f6f6f6;font-weight:bold
}
.busquedaCartelera .groupFiltro > div .ui-state-default,.busquedaCartelera .groupFiltro > div .ui-widget-content .ui-state-default,.busquedaCartelera .groupFiltro > div .ui-widget-header .ui-state-default
{
	border:1px solid #d6a639;background:#feca30;font-weight:bold;color:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips
{
	margin-bottom:1.4em;
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-label,.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-pip-hide
{
	display:none;
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-label .ui-slider-label,.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-pip-hide .ui-slider-label
{
	display:block
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-pip
{
	width:2em;height:1em;line-height:1em;position:absolute;font-size:.8em;color:#999;overflow:visible;text-align:center;top:15px;left:20px;margin-left:-1em;cursor:pointer;
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-pip:hover .ui-slider-label
{
	color:#000;font-weight:bold
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-line
{
	background:#999;width:1px;height:3px;position:absolute;left:50%
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-label
{
	position:absolute;top:5px;left:50%;margin-left:-1em;width:2em
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-vertical.ui-slider-pips
{
	margin-bottom:0;margin-right:2em;
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-vertical.ui-slider-pips .ui-slider-pip
{
	text-align:left;top:20px;left:20px;margin-left:0;margin-top:-.5em
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-vertical.ui-slider-pips .ui-slider-line
{
	width:3px;height:1px;position:absolute;top:50%;left:0
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-vertical.ui-slider-pips .ui-slider-label
{
	top:50%;left:.5em;margin-left:0;margin-top:-.5em;width:2em
}
.busquedaCartelera .groupFiltro > div .ui-slider-horizontal.ui-slider-pips .ui-slider-vertical.ui-slider-pips:hover .ui-slider-label
{
	color:#000;font-weight:bold
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-handle:focus,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-handle:focus .ui-slider-tip,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-handle:focus .ui-slider-tip-label
{
	outline:none
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-tip,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-tip-label
{
	position:absolute;visibility:hidden;top:-40px;display:block;width:34px;margin-left:-18px;left:50%;height:20px;line-height:20px;background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;border:1px solid #888;text-align:center;-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);color:#333;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-ms-transition:all .5s linear;-o-transition:all .5s linear;transition:all .5s linear
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-handle:hover .ui-slider-tip,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-handle:focus .ui-slider-tip,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);top:-30px;visibility:visible;-webkit-transition:all .5s linear;-moz-transition:all .5s linear;-ms-transition:all .5s linear;-o-transition:all .5s linear;transition:all .5s linear
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip .ui-slider-tip-label
{
	top:30px
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label
{
	top:20px;font-weight:normal
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-tip:after,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip .ui-slider-tip-label:after
{
	content:" ";width:0;height:0;border:5px solid rgba(255,255,255,0);border-top-color:#fff;position:absolute;bottom:-10px;left:50%;margin-left:-5px
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-tip:before,.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip .ui-slider-tip-label:before
{
	content:" ";width:0;height:0;border:5px solid rgba(255,255,255,0);border-top-color:#888;position:absolute;bottom:-11px;left:50%;margin-left:-5px
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip .ui-slider-tip-label:after
{
	border:5px solid rgba(255,255,255,0);border-bottom-color:#fff;top:-10px
}
.busquedaCartelera .groupFiltro > div .ui-slider-float .ui-slider-pip .ui-slider-tip-label:before
{
	border:5px solid rgba(255,255,255,0);border-bottom-color:#888;top:-11px
}
.busquedaCartelera aside
{
	text-align:right
}
.listaCarteleraHorario a.btnInfoComplejo
{
	-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;display:block
}
.listaCarteleraHorario h2
{
	margin:0;text-transform:uppercase;position:relative;font-size:1.2em;padding:8px;background:#0b5ba1;color:#fff;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;
}
.listaCarteleraHorario h2 i
{
	font-size:20px;margin-right:5px;line-height:.75em;vertical-align:-15%
}
.listaCarteleraHorario h2 .nueva-ap
{
	background-color:#fff;-webkit-border-radius:0 1em 1em 0;-moz-border-radius:0 1em 1em 0;-ms-border-radius:0 1em 1em 0;-o-border-radius:0 1em 1em 0;border-radius:0 1em 1em 0;color:#0b5ba1;display:block;font-size:.7em;font-weight:700;height:22px;margin-top:-10px;padding:0 2%;position:absolute;right:10px;top:50%;
}
.listaCarteleraHorario h2 .nueva-ap:before
{
	background:url("https://static.cinepolis.com/img/sombra-icon-apertura.png");content:"";height:43px;left:-11px;position:absolute;top:-7px;-webkit-transform:rotate(11deg);-moz-transform:rotate(11deg);-ms-transform:rotate(11deg);-o-transform:rotate(11deg);transform:rotate(11deg);width:18px;z-index:10
}
.listaCarteleraHorario h2 .nueva-ap:after
{
	border-bottom:22px solid #fff;border-left:10px solid transparent;content:"";left:-10px;position:absolute;top:0
}
.listaCarteleraHorario h2 .info-cine
{
	background:#fff;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;color:#0b5ba1;cursor:pointer;display:block;font-weight:700;margin-top:-11px;position:absolute;right:10px;top:50%;text-align:center;height:22px;width:22px;z-index:10;
}
.listaCarteleraHorario h2 .info-cine.info-RA:before
{
	background-color:#0b5ba1;border:1px solid #fff;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;content:'Información de Cine / Precios';color:#fff;font-size:12px;font-weight:400;display:block;-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);padding:3px 10px;position:absolute;left:-105px;top:-20px;text-transform:none;width:135px;z-index:9;-webkit-transition:opacity .4s,top .3s;-moz-transition:opacity .4s,top .3s;-ms-transition:opacity .4s,top .3s;-o-transition:opacity .4s,top .3s;transition:opacity .4s,top .3s
}
.listaCarteleraHorario h2 .info-cine.info-RA:hover:before
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);top:-40px
}
.listaCarteleraHorario h4
{
	margin:20px 0 .83em 0;text-transform:uppercase;font-weight:bold;font-size:.95em;color:#0b5ba1;padding:10px 0;border-bottom:solid 1px #0b5ba1;
}
.listaCarteleraHorario h4 i
{
	font-size:20px
}
.listaCarteleraHorario .fechaPreventa
{
	color:#575757;margin:20px 0 10px 0;display:block;
}
.listaCarteleraHorario .fechaPreventa i
{
	margin-right:5px
}
.listaCarteleraHorario article
{
	background:#f7f7f7;padding:5% 2%;border-color:#fff #e1e3e6 #e1e3e6 #e1e3e6;border-style:solid;border-width:1px;
}
.listaCarteleraHorario article:nth-child(even)
{
	background:#fff
}
.listaCarteleraHorario article .col4
{
	width:16%;min-width:60px;max-width:140px;
}
.listaCarteleraHorario article .col4 .corner
{
	width:75%
}
.listaCarteleraHorario article .col8
{
	width:82%
}
.listaCarteleraHorario article .descripcion header
{
	width:100%;background:none;border-bottom:solid 1px #e1e3e6;margin-bottom:20px;position:relative;z-index:1;
}
.listaCarteleraHorario article .descripcion header h3
{
	color:#222;margin:0 0 .4em 0;font-size:1.5em;
}
.listaCarteleraHorario article .descripcion header h3:hover
{
	text-decoration:underline
}
.listaCarteleraHorario article .descripcion header span
{
	color:#868788;font-size:.88em
}
.listaCarteleraHorario article .descripcion header .clasificacion
{
	background:#a6afbe;padding:2px 6px;margin-left:3px;color:#fff;display:inline-block;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;cursor:default;position:relative;
}
.listaCarteleraHorario article .descripcion header .clasificacion:hover:after
{
	min-width:210px;top:30px;content:attr(data-description);left:-40%;position:absolute;z-index:9999;background:#222;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;color:#fff;font-size:.95em;line-height:1.25em;padding:5px 5px;text-align:left;font-weight:300;width:auto
}
.listaCarteleraHorario article .descripcion header .clasificacion:hover:before
{
	top:25px;content:"";left:25%;position:absolute;z-index:9999;border:solid;border-color:#222 transparent;border-width:0 6px 6px 6px
}
.listaCarteleraHorario article .descripcion header .duracion
{
	background:#222;padding:2px 6px;margin-left:3px;color:#fff;display:inline-block;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px
}
.listaCarteleraHorario article .descripcion header .btnTrailer
{
	background:#0b5ba1;padding:2px 8px;height:auto;margin-left:3px;display:inline-block;
}
.listaCarteleraHorario article .descripcion header .btnTrailer:hover
{
	background:#0b5393
}
.listaCarteleraHorario article .descripcion header .btnTrailer i
{
	margin-right:3px
}
.listaCarteleraHorario article .descripcion .horarioExp
{
	width:102%;display:table;margin-bottom:10px;
}
.listaCarteleraHorario article .descripcion .horarioExp .col3
{
	width:28%;
}
.listaCarteleraHorario article .descripcion .horarioExp .col3 > span,.listaCarteleraHorario article .descripcion .horarioExp .col3 p
{
	margin-left:2%;width:49%
}
.listaCarteleraHorario article .descripcion .horarioExp .col3 > span
{
	float:left;margin:0;text-align:left;
}
.listaCarteleraHorario article .descripcion .horarioExp .col3 > span img
{
	max-width:56px;width:100%
}
.listaCarteleraHorario article .descripcion .horarioExp .col3 p
{
	float:right;padding-top:2px;text-align:left;
}
.listaCarteleraHorario article .descripcion .horarioExp .col3 p span
{
	display:block;float:left;width:46%
}
.listaCarteleraHorario article .descripcion .horarioExp .col9
{
	width:68.5%
}
.listaCarteleraHorario article .descripcion .horarioExp > div
{
	display:table-cell;padding:.3em 0;text-align:left;
}
.listaCarteleraHorario article .descripcion .horarioExp > div:first-child
{
	width:95px;text-align:left
}
.listaCarteleraHorario article .descripcion .horarioExp span.vip
{
	color:#222;font-weight:bold
}
.listaCarteleraHorario article .descripcion .horarioExp span
{
	color:#0b5ba1
}
.listaCarteleraHorario article .descripcion .horarioExp time
{
	background:#ececec;border:solid 1px #d8d8d8;color:#575757;text-shadow:0 1px 0 rgba(255,255,255,0.59);margin-bottom:8px;margin-right:4px;padding:3px 5px;height:auto;font-size:12px;-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.027),inset 0 1px 0 rgba(255,255,255,0.69),inset 0 -1px 0 rgba(0,0,0,0.019),inset 0 15px 14px rgba(255,255,255,0.3);-moz-box-shadow:0 2px 2px rgba(0,0,0,0.027),inset 0 1px 0 rgba(255,255,255,0.69),inset 0 -1px 0 rgba(0,0,0,0.019),inset 0 15px 14px rgba(255,255,255,0.3);-ms-box-shadow:0 2px 2px rgba(0,0,0,0.027),inset 0 1px 0 rgba(255,255,255,0.69),inset 0 -1px 0 rgba(0,0,0,0.019),inset 0 15px 14px rgba(255,255,255,0.3);-o-box-shadow:0 2px 2px rgba(0,0,0,0.027),inset 0 1px 0 rgba(255,255,255,0.69),inset 0 -1px 0 rgba(0,0,0,0.019),inset 0 15px 14px rgba(255,255,255,0.3);box-shadow:0 2px 2px rgba(0,0,0,0.027),inset 0 1px 0 rgba(255,255,255,0.69),inset 0 -1px 0 rgba(0,0,0,0.019),inset 0 15px 14px rgba(255,255,255,0.3);-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear;
}
.listaCarteleraHorario article .descripcion .horarioExp time:hover
{
	background:#d8ecfd;border:solid 1px #1096d4;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none
}
.listaCarteleraHorario article .descripcion .horarioExp time:active
{
	background:#d8ecfd;border:solid 1px #1096d4;text-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;box-shadow:none
}
.listaCarteleraHorario .divComplejo
{
	margin-bottom:40px;
}
.listaCarteleraHorario .divComplejo .btnTop
{
	background:#000;text-align:center;max-width:100%;padding:8px;color:#fff;font-size:1em;text-transform:uppercase;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;
}
.listaCarteleraHorario .divComplejo .btnTop i
{
	margin-right:8px;font-size:1.5em;line-height:.75em;vertical-align:-15%
}
.txtLegales
{
	font-size:9px;text-align:center;color:#969ea9;padding:20px 0
}
.preventaCartelera
{
	padding-top:40px;
}
.preventaCartelera article
{
	padding:1px 0 20px 0;
}
.preventaCartelera article h2
{
	text-transform:uppercase;margin:0 0 20px 0
}
.preventaCartelera article .listpreventas
{
	overflow:hidden;width:100%;
}
.preventaCartelera article .listpreventas ul
{
	margin:0;padding:0;width:105%;
}
.preventaCartelera article .listpreventas ul li
{
	float:left;width:140px;height:auto;margin-right:17px;
}
.preventaCartelera article .listpreventas ul li figure figcaption
{
	height:40%
}
.preventaCartelera article .listpreventas .btnSig,.preventaCartelera article .listpreventas .btnPrev
{
	display:block;margin-top:65px;
}
.preventaCartelera article .listpreventas .btnSig i,.preventaCartelera article .listpreventas .btnPrev i
{
	font-size:30px
}
.preventaCartelera article .listpreventas .btnSig:hover,.preventaCartelera article .listpreventas .btnPrev:hover
{
	color:#0b5ba1
}
.preventaCartelera article .listpreventas .disabled i
{
	color:#e1e3e6
}
div.rating-cancel,div.star-rating
{
	float:left;width:18px;height:18px;cursor:pointer;display:block;background:transparent;overflow:hidden;
}
div.rating-cancel a,div.star-rating a
{
	display:block;width:18px;height:100%;background-position:0 0;border:0;-webkit-transition:all 0s linear;-moz-transition:all 0s linear;-ms-transition:all 0s linear;-o-transition:all 0s linear;transition:all 0s linear
}
div.rating-cancel,div.rating-cancel a
{
	display:none !important
}
div.star-rating
{
	color:#222;font-size:1.2em;
}
div.star-rating:before
{
	content:"\f005";font-family:'cinepolis-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased
}
div.star-rating a
{
	text-indent:-999em
}
div.star-rating-on
{
	color:#0b5ba1
}
div.star-rating-hover
{
	color:#feca30
}
div.star-rating-readonly a
{
	cursor:default !important
}
div.star-rating
{
	background:transparent !important;overflow:hidden !important
}
.proximamente
{
	background:#f5f5f5;
}
.proximamente article
{
	padding:20px 0 40px 0;margin-top:40px;
}
.proximamente article h2
{
	text-transform:uppercase
}
.proximamente article ul
{
	margin:0;padding:0;
}
.proximamente article ul li
{
	cursor:pointer
}
.loading .bx-viewport
{
	max-height:300px
}
.carousel li
{
	margin-right:5px
}
.chosen-container
{
	position:relative;display:-moz-inline-box;display:inline-block;*display:inline;vertical-align:middle;zoom:1;-webkit-user-select:none;-moz-user-select:none;user-select:none;
}
.chosen-container .chosen-results
{
	position:relative;overflow-x:hidden;overflow-y:auto;margin:0 4px 4px 0;padding:0 0 0 4px;max-height:240px;-webkit-overflow-scrolling:touch
}
.chosen-container .chosen-drop
{
	position:absolute;top:100%;left:-9999px;z-index:88;width:100%;border:1px solid #e1e3e6;border-top:0;background:#fff;-webkit-box-shadow:0 4px 5px rgba(0,0,0,0.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,0.15);-ms-box-shadow:0 4px 5px rgba(0,0,0,0.15);-o-box-shadow:0 4px 5px rgba(0,0,0,0.15);box-shadow:0 4px 5px rgba(0,0,0,0.15);-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px
}
.chosen-container.chosen-with-drop .chosen-drop
{
	left:0;margin-top:-1px
}
.chosen-container a
{
	cursor:pointer
}
.chosen-container-multi .chosen-choices
{
	width:100% !important;margin:0
}
.chosen-container-multi .chosen-choices li
{
	float:left;list-style:none
}
.chosen-container-multi .chosen-choices li.search-field
{
	margin:0;padding:0;white-space:nowrap;clear:both;position:relative;width:100% !important;
}
.chosen-container-multi .chosen-choices li.search-field:before
{
	content:"";background:url("https://static.cinepolis.com/imagenes/icon-select-form-gris.png?embed") no-repeat 100% 0;width:29px;height:33px;display:block;position:absolute;top:1px;right:0;z-index:80
}
.chosen-container-multi.chosen-container-active .chosen-choices li.search-field input[type="text"],.chosen-container-multi.chosen-container-active .chosen-drop
{
	border:solid 1px #a6afbe
}
.chosen-container-multi.chosen-container-active .chosen-choices li.search-field input[type="text"]
{
	border-bottom-color:#e1e3e6;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0
}
.chosen-container-multi.chosen-container-active .chosen-drop
{
	border-top-color:#e1e3e6
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]
{
	width:100% !important;margin:0;height:35px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]:hover,.chosen-container-multi .chosen-choices li.search-field input[type="text"]:active,.chosen-container-multi .chosen-choices li.search-field input[type="text"]:focus
{
	background:#fff;border:solid 1px #a6afbe
}
.chosen-container-multi .chosen-choices li.search-field .default
{
	color:#999
}
.chosen-container-multi .chosen-choices li.search-choice
{
	position:relative;margin:0 5px 5px 0;width:100%;font-size:.9em;padding:5px 20px 5px 5px;border:1px solid #1096d4;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;background:#d8ecfd;-webkit-box-shadow:0 1px 0 rgba(0,0,0,0.05);-moz-box-shadow:0 1px 0 rgba(0,0,0,0.05);-ms-box-shadow:0 1px 0 rgba(0,0,0,0.05);-o-box-shadow:0 1px 0 rgba(0,0,0,0.05);box-shadow:0 1px 0 rgba(0,0,0,0.05);line-height:13px;cursor:default
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close
{
	position:absolute;top:4px;right:3px;display:block;width:12px;height:12px;color:#0b5ba1;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before
{
	content:"\e614";font-family:'cinepolis-icons';font-weight:normal;font-style:normal;text-decoration:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-smoothing:antialiased;*margin-right:.3em
}
.chosen-container-multi .chosen-choices li.search-choice-disabled
{
	padding-right:5px;border:1px solid #ccc;background-color:#e4e4e4;color:#666
}
.chosen-container-multi .chosen-choices li.search-choice-focus
{
	background:#d4d4d4
}
.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close
{
	background-position:-42px -10px
}
.chosen-container-multi .chosen-results
{
	margin:0;padding:0
}
.chosen-container-multi .chosen-drop .result-selected
{
	display:list-item;color:#ccc;cursor:default
}
.chosen-container .chosen-results li.highlighted
{
	background:#d8ecfd
}
.chosen-container .chosen-results li
{
	padding:5px;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear
}
.bx-wrapper
{
	overflow:hidden;position:relative
}
.bx-controls-direction a
{
	width:40px;height:100%;text-align:center;margin:0;top:0%;font-size:2em;display:block;position:absolute;cursor:pointer;line-height:205px;-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);color:#fff;text-shadow:-1px 1px rgba(0,0,0,0.3);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease
}
.bx-controls-direction .bx-next
{
	right:-36px;background-color:rgba(0,0,0,0);background-image:-webkit-linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-moz-linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-ms-linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-o-linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);-pie-background:linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%)
}
.bx-controls-direction .bx-prev
{
	left:-36px;background-color:rgba(0,0,0,0);background-image:-webkit-linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-moz-linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-ms-linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:-o-linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);background-image:linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%);-pie-background:linear-gradient(to left,rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%)
}
.bx-wrapper:hover .bx-next
{
	-khtml-opacity:.8;-moz-opacity:.8;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);right:0
}
.bx-wrapper:hover .bx-prev
{
	-khtml-opacity:.8;-moz-opacity:.8;opacity:.8;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";filter:alpha(opacity=80);left:0
}
.bx-wrapper:hover .bx-next:hover,.bx-wrapper:hover .bx-prev:hover
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);text-shadow:-1px 1px #000;color:#feca30
}
.bx-controls-direction .disabled
{
	-khtml-opacity:.3;-moz-opacity:.3;opacity:.3;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";filter:alpha(opacity=30);cursor:default
}
.listaCarteleraHorario a.btnInfoComplejo.fixed:before
{
	content:"";position:absolute;width:100%;padding:30px 0 0;left:0;top:-30px;background-color:#fff;background-image:-webkit-linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%);background-image:-moz-linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%);background-image:-ms-linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%);background-image:-o-linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%);background-image:linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%);-pie-background:linear-gradient(top,#fff 20%,rgba(255,255,255,0) 100%)
}
.autofix_sb.fixed
{
	position:fixed !important;left:auto;top:auto;right:auto;bottom:auto;z-index:15
}
.autofix_sb.fixed.bottom
{
	top:0;bottom:auto;position:relative !important
}
.showMobileHeadlineRegistro
{
	background:rgba(11,91,161,0.9);position:fixed;bottom:0;z-index:1000;width:100%;font-weight:300;font-size:18px
}
.message-prevents
{
	color:#fff;text-decoration:none
}
.region-andina .listaCarteleraHorario h2 .nueva-ap
{
	right:40px
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,.ps-container.ps-active-y > .ps-scrollbar-y-rail
{
	display:block
}
.ps-container > .ps-scrollbar-x-rail
{
	display:none
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x
{
	display:none
}
.ps-container > .ps-scrollbar-y-rail
{
	background-color:rgba(255,255,255,0.1);-webkit-border-radius:.2em;-moz-border-radius:.2em;-ms-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;display:none;filter:none;-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);position:absolute;right:3px;width:.8em
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y
{
	background-color:rgba(255,255,255,0.4);-webkit-border-radius:.2em;-moz-border-radius:.2em;-ms-border-radius:.2em;-o-border-radius:.2em;border-radius:.2em;position:absolute;-webkit-transition:background-color .2s linear 0s;-moz-transition:background-color .2s linear 0s;-ms-transition:background-color .2s linear 0s;-o-transition:background-color .2s linear 0s;transition:background-color .2s linear 0s;width:.8em
}
.ps-container:hover > .ps-scrollbar-x-rail,.ps-container:hover > .ps-scrollbar-y-rail
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
.ps-container > .ps-scrollbar-x-rail.in-scrolling,.ps-container > .ps-scrollbar-y-rail.in-scrolling,.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling,.ps-container:hover > .ps-scrollbar-y-rail.in-scrolling
{
	background-color:#000;-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
.ps-container:hover > .ps-scrollbar-x-rail:hover,.ps-container:hover > .ps-scrollbar-y-rail:hover
{
	-khtml-opacity:.1;-moz-opacity:.1;opacity:.1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";filter:alpha(opacity=10)
}
.vc-overflow
{
	overflow:hidden;position:relative;
}
.vc-overflow-scroller
{
	height:100%;overflow:hidden;position:relative;padding-right:1.2em
}
.ci-notification
{
	-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;background-color:rgba(11,91,161,0.98);border-top:2px solid #ffa500;bottom:0;-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);padding:.6em;position:fixed;width:100%;z-index:1234;
}
.ci-notification--visible
{
	animation:1s bounceIn both;-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
.ci-notification-txt
{
	color:#fff;float:left;font-size:1.4em;font-weight:300;padding:0
}
.ci-notification-close
{
	color:#fff;float:right;font-size:1.5em;margin-top:4px
}
.divComplejo--disabled
{
	background:url("//static.cinepolis.com/img/img-outline-morelia-centro.png") no-repeat center bottom;background-size:100% auto;
}
.divComplejo--disabled h2
{
	text-align:center;
}
.divComplejo--disabled h2 img
{
	max-width:110px
}
.disc
{
	font-size:14px;text-align:center;padding:1em 0 10em 0;
}
.disc-txt
{
	font-weight:300;display:block;color:#222;padding-bottom:1em;
}
.disc-txt--strong
{
	font-weight:700;font-size:1.6em;display:block;padding:.6em 0;color:#0059a3
}
@-webkit-keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@-moz-keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@-webkit-keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
@-moz-keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
@media screen and (min-width:1020px)
{
	.divComplejo--disabled
	{
	background-size:500px auto
}
.disc
{
	padding-bottom:20em;margin:auto;max-width:414px
}

}
@media handheld,only screen and (max-width:740px)
{
	.showMobileHeadlineRegistro
	{
	text-align:center;font-size:12px;display:block
}
.prevent > .headlineRegistro
{
	display:block
}
.closeMessage
{
	display:none
}

}
@media screen and (min-height:600px)
{
	.infoComplejo article
	{
	height:400px
}

}
@-moz-keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@-webkit-keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@-o-keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@keyframes bounceIn
{
	from,60%,75%,90%,to
	{
	animation-timing-function:cubic-bezier(.215,.61,.355,1)
}
from
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,3000px,0);-moz-transform:translate3d(0,3000px,0);-ms-transform:translate3d(0,3000px,0);-o-transform:translate3d(0,3000px,0);transform:translate3d(0,3000px,0)
}
60%
{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100);-webkit-transform:translate3d(0,-20px,0);-moz-transform:translate3d(0,-20px,0);-ms-transform:translate3d(0,-20px,0);-o-transform:translate3d(0,-20px,0);transform:translate3d(0,-20px,0)
}
75%
{
	-webkit-transform:translate3d(0,10px,0);-moz-transform:translate3d(0,10px,0);-ms-transform:translate3d(0,10px,0);-o-transform:translate3d(0,10px,0);transform:translate3d(0,10px,0)
}
90%
{
	-webkit-transform:translate3d(0,-5px,0);-moz-transform:translate3d(0,-5px,0);-ms-transform:translate3d(0,-5px,0);-o-transform:translate3d(0,-5px,0);transform:translate3d(0,-5px,0)
}
to
{
	-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)
}

}
@-moz-keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
@-webkit-keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
@-o-keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
@keyframes fadeOutDown
{
	from
	{
	-khtml-opacity:1;-moz-opacity:1;opacity:1;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter:alpha(opacity=100)
}
to
{
	-khtml-opacity:0;-moz-opacity:0;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0);-webkit-transform:translate3d(0,100%,0);-moz-transform:translate3d(0,100%,0);-ms-transform:translate3d(0,100%,0);-o-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)
}

}
