/*
  1. Reset and Clearfix
  2. HTML5 elementos
  3. Bases
  4. Tipografía
  5. Blockquotes
  6. Links
  7. Listas
  8. Imagenes
  9. Tablas
  10. Selección  de texto
  11. Formulario
  12. Mensajes formularios
  13. Clases globales

*/


/*1. Reset and Clearfix*/

html, body, div, span, applet,
	object, iframe, h1, h2, h3, h4,
	h5, h6, p, blockquote, pre, a,
	abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd,
	q, s, samp, small, strike, strong,
	sub, sup, tt, var, b, u, i, center,
	dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption,
	tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details,
	embed, figure, figcaption, footer,
	header, hgroup, menu, nav, output,
	ruby, section, summary, time, mark,
	audio, video 							{ margin: 0; padding: 0; border: 0; font-size:100%; font:inherit; vertical-align:baseline; outline: none;}
	
	

/* 2. HTML5 elementos*/
	article, aside, details, figcaption, 
	figure, footer, header, hgroup, menu, 
	nav, section, summary				    {display: block;}
	
	audio, canvas, video                    {display: inline-block; *display: inline; *zoom: 1;}
	
	audio:not([controls])                   { display: none; height: 0; }
	
	[hidden]                                { display: none; }
	
	*,
	*:after,
	*:before {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 0;
	    margin: 0;
	}
	
/* 3. Bases*/


	html                                    { font-size: 100%; /* 1 */  -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }
	html, button, input, select, textarea   { font-family: sans-serif; }


/* 4. Tipografía */
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a 		{ font-weight: inherit; }
	h1 										{ margin: 0.67em 0; font-size: 2em; }
	h2										{ margin: 0.83em 0; font-size: 1.5em; }
	h3 										{ margin: 1em 0; font-size: 1.17em; }
	h4 										{ margin: 1.33em 0; font-size: 1em; }
	h5 										{ margin: 1.67em 0; font-size: 0.83em; }
	h6 										{ margin: 2.33em 0; font-size: 0.67em; }

	p 										{ padding:0 0 1em 0; line-height:140%; }

	sup, sub 								{ font-size: 75%; height:0;	line-height:0px; vertical-align:baseline; _vertical-align:bottom; position:relative; }
	sup 									{ top: -0.5em; }
	sub 									{ bottom: -0.25em; }
	em 										{ font-style:italic; }
	strong 									{ font-weight:bold; }
	small 									{ font-size:100%; }


/* 5. Blockquotes */

	blockquote, blockquote p 				{ font-size:12px; line-height:24px; color:#777; font-style:italic; }
	blockquote 								{ margin: 1em 40px; padding:0 0 0 5px; border-left:1px solid #747474; }
	blockquote cite 						{ display:block; font-size:12px; color:#555; }
	blockquote cite:before 					{ content:"\2014 \0020"; }
	blockquote cite a,
	blockquote cite a:visited,
	blockquote cite a:visited 				{ color:#555; }
	blockquote span							{ width:15px; display:inline-block; }
	
	hr 										{ -moz-box-sizing: content-box; box-sizing: content-box; margin:20px 0 20px 0; border:0; border-top:1px solid #999; height:2px; width:100%; text-align:left; }

/* 6. Links */
	a img                                   {border: 0;}
	a                                       {text-decoration: none;color:inherit;}
	a:focus                                 {outline: none;}
	:focus                                  {outline: none;}
	::-moz-focus-inner                      {border: 0}
	
	a:link 									{ text-decoration:none; outline:0; }
	a:visited 								{ text-decoration:none; outline:0; }
	a:active 								{ text-decoration:none; outline:0; }
	a:hover 								{ text-decoration:underline; outline:0; }
	a:focus 								{ -moz-outline-style:none; }
	
/* 7. Listas */
	
	ul, ol 									{ list-style:none; margin: 1em 0; padding: 0;}
	ul 										{ list-style:none outside; }
	ol 										{ list-style:decimal; }
	ul.square, ul.circle, ul.disc 		    { margin-left:15px; }
	ul.square 								{ list-style:square outside; }
	ul.circle 								{ list-style:circle outside; }
	ul.disc 								{ list-style:disc outside; }
	
	nav ul, nav ol                          { list-style: none; list-style-image: none; padding:0px; margin: 0;}


/* 8. Imagenes */

	img 								    { border:0;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		-webkit-user-drag: none;
		-moz-user-drag: none;
		user-drag: none;
	}
	
	.full								    { width:100%; height:auto; }		
	.video-container 						{ position:relative; margin:0 0 15px 0;	padding-bottom:51%; padding-top:30px; height:0; overflow:hidden; border:1px solid #ccc; }
	.video-container iframe,
	.video-container object,  
	.video-container embed 					{ position:absolute; top:0; left:0; width:100%; height:100%; }
	figure                                  { position: relative; }
	

	

/* 9. Tablas */

	table									{ margin:0 0 20px 0; width:100%;  border-collapse: collapse; border-spacing: 0; }
	table th 								{ padding:10px 8px 10px 8px; }
	table td 								{ padding:10px 8px 10px 8px; }
	
	



/* 10. Selección de texto */
	::selection 	                        { text-shadow: none; }
	::-moz-selection                        { text-shadow: none; }
	img::selection                          { background: transparent; }
	img::-moz-selection	                    { background: transparent; }

   
    pre, code, kbd, samp { font-family: monospace, sans-serif; }

	
	
/* 11. Formulario */
	form                                    { margin: 0; }
	fieldset                                { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
	legend 									{ border: 0;  padding: 0; white-space: normal; *margin-left: -7px; }

	select, input, textarea, button         { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; outline:none;}
	button, input                           { line-height: normal; }
	button, select                          { text-transform: none; }
	
	
	button,
    html input[type="button"], /* 1 */
    input[type="reset"],
    input[type="submit"] 				    { -webkit-appearance: button; /* 2 */
											    cursor: pointer; /* 3 */
											    *overflow: visible;  /* 4 */}
	button[disabled], html input[disabled]  { cursor: default; }
	input[type="checkbox"],
	input[type="radio"]						{ box-sizing: border-box; /* 1 */
											    padding: 0; /* 2 */
											    *height: 13px; /* 3 */
											    *width: 13px; /* 3 */}
	input[type="search"]                    { -webkit-appearance: textfield; /* 1 */
										      -moz-box-sizing: content-box;
										      -webkit-box-sizing: content-box; /* 2 */
										      box-sizing: content-box;}
	
	textarea                                { overflow: auto; vertical-align: top;}


	input[type="radio"]                     { vertical-align: text-bottom; }
	input[type="checkbox"]                  { vertical-align: bottom; }
	
	
	label 					                { padding:0; display:block; font-weight:bold; text-align:right; width:140px; float:left; }

	
	
	
/* 12. Mensajes formularios */
	.requerido                              { color: #C74350; }
	.error, .informativo, .correcto         { padding: .2em;margin-bottom: 1em;border: 2px solid #ddd;}
	
	.error                                  { background: #DF8989; border: 1px solid #CA3838; color: #7B2121; }
	.informativo                            { background: #FFF6BF; border-color: #FFD324; color: #514721; }
	.correcto                               { background: #E6EFC2; border-color: #C6D880; color: #264409; }
	
	.error a                                { color: #8a1f11; }
	.informativo a                          { color: #514721; }
	.correcto a                             { color: #264409; }


/* Clearfix */
	.cf:before, .cf:after                   {content:""; display:block; overflow:hidden;}
	.cf:after                               {clear:both;}
	/* For IE 6/7 (trigger hasLayout) */
	.cf                                     {zoom:1;}



/*  13. Clases globales */

	.img-left   							{ float:left; margin:0 30px 30px 0; border:none; }
	.img-right  							{ float:right; margin:0 0 30px 30px; border:none; }

	.clear       							{ clear:both; }
	.float-left 							{ float:left; }
	.float-right   							{ float:right; }

	.text-left    							{ text-align:left; }
	.text-right    							{ text-align:right; }
	.text-center   							{ text-align:center; }
	.text-justify  							{ text-align:justify; }

	.normal									{ font-weight:normal; }
	.bold          							{ font-weight:bold; }
	.italic        							{ font-style:italic; }
	.underline     							{ border-bottom:1px solid; }
	.highlight     							{ background:#ffc; }

	.nopadding 						   		{ padding:0; }
	.noborder								{ border: none; }
	.noindent  						   		{ margin-left:0; padding-left:0; }
	.nobullet  					   			{ list-style:none; list-style-image:none; }

	.block									{ display:block; }
	.hidden									{ display:none; }
	.hide 									{ display:none; }
	.center                                 { margin-left: auto; margin-right: auto;}
    
    .more:after								{content:" »";}
